body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
height: 800px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 35%)
  /*background: #34495e;*/
  /*background: #f2f5f6;*/
}
.box {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #BDF6E9;
  text-align: center;
}
.box h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  /*border: 2px solid #3498db;*/
  border: 2px solid black;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.box input[type="submit"] {
  border: 0;
  background: blue;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 0px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: #2ecc71;
}

#signup{
  text-align: right;
  color: blue;
  font: sans-serif;
  padding-left: 85%;
  margin: 0;
}
#grad{

}
