<!DOCTYPE html>
<html>
<style> 

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type=submit]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


  #box {
    height: 200px;
    overflow: auto;
  }
  #bgc {
    background: #BDF6E9;
  }

</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body id = "bgc" class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"  onclick="openNav()"></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"></a>
 
  <a href={{ url_for('login') }} class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img src="static/logout.png" class="w3-circle" style="height:23px;width:23px" alt="logout">
  </a>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src="static/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{ username }}</p>
         <p><i class="fa fa-cogs fa-fw w3-margin-right w3-text-theme"></i> SETTINGS</p>
         <p><i class="fa fa-paper-plane-o fa-fw w3-margin-right w3-text-theme"></i>MORE INFO</p>
        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Categories</p>
          <form action="" method="post">
          <select id="country" name="country">
          {% for x in catg %}
          <option value={{ x }}>{{ x }}</option>
          {% endfor %}
          </select>
          <br><br>
          <input type="submit" value="submit">
        </form>
        </div>      
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            
            {% for x in recommend %}
            <span class="w3-tag w3-small w3-theme-d5">{{ x }}</span>
           
            {% endfor %}
          </p>
        </div>
      </div>
      <br>
      
     
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <video id="video1" width="100%" controls>
      <source src={{ path }} type="video/mp4">
    
      Your browser does not support HTML5 video.
    </video>  

       
    </div>

    
      
      
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container"id="box">
        <p>Mouse feed</p>
        <img id="bg" src="" height="200px" width="100%">
        </div>
      </div>
      <br>
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container" id="box">
          <p>Upcoming Videos:</p>
          {% for x in upcome %}
          {% if x != path  %}
          <p>
            <video id="video2" height="100px" width="100%" >
            <source src={{ x }} type="video/mp4">
            
            
            </video>  
           <button type="button" id = {{ x }}>Watch now</button>
         </p>
           {% endif %}
          {% endfor %}
        </div>
      </div>
      <br>
      
      
      
      

      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container" id="box">
        <p><strong>Enjoyment level:</strong></p>
        <img id ="enjoy" src="static/processing.gif" style="height:100px;width:100px" alt="logout">
        </div>
      </div>
      <br>
      
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>


 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">

var flag = true;
var stat = true;
window.onload = function() {
  // setup the button click
  document.getElementById("video1").onclick = function() {
    
    send_status(flag)
    
    
  };
}

function send_status() {
  
  if(stat)
  {
   document.getElementById("bg").src = "{{ url_for('video_feed') }}";
   stat = false; 
  }

  if(flag)
  {
    $.post("{{url_for('eeg')}}",{"status":"True","p":"{{ path }}"} , 
    function(response){
      var enjoy = parseFloat(response);
      if(enjoy >= 3.00)
      {
        document.getElementById("enjoy").src = "static/Emoji_4.png";
        
      }
      else if(enjoy >= 2.00)
      {
        document.getElementById("enjoy").src = "static/Emoji_3.png";
        
      }
      else if(enjoy >= 1.00)
      {
        document.getElementById("enjoy").src = "static/Emoji_2.png";
        if (confirm("Enjoyment is low. Load next video ???")) {
          $.post("{{url_for('nxt')}}", 
              function(response){
                    document.getElementById("video1").src = response;
              });
           
        } 
       
        
      }
      else
      {
        document.getElementById("enjoy").src = "static/Emoji_1.png";
        if (confirm("Enjoyment is too low. Load next video ???")) {
           $.post("{{url_for('nxt')}}", 
              function(response){
                    document.getElementById("video1").src = response;
              });
        } 
      }
      //document.getElementById("enjoy").innerHTML = response;
    });
    flag = false;
  }
  else
  {
    
    flag = true;
  }
  
  
  // stop link reloading the page
 event.preventDefault();
}
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $("button").click(function(event) {
      document.getElementById("video1").src = event.target.id;
        
    });
});
</script>




</body>
</html> 



