<!DOCTYPE html> 
<html lang="en"> 
<style>
  section:after {
  content: "";
  display: table;
  clear: both;
}



nav {
  float: right;
  width: 20%;
  height: 300px; /* only for demonstration, should be removed */
  padding: 5px;
  
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
</style>
<body> 

<section>


  <nav>
    
      <fieldset>
        <legend>Recommended for you!!!</legend>
        <ul>
        {% for x in recommend %}
        <li>-{{ x }}</li>
        {% endfor %}
        </ul>
        
      </fieldset>
    
  </nav>

  <nav>
    <form action="" method="post">
      <fieldset>
        <legend>Category</legend>
        {% for x in catg %}
        <input type="radio" name="category" value={{ x }}>{{ x }}<br>
        {% endfor %}
        
        
        <input type="submit" value="submit">
        
      </fieldset>
    </form>
  </nav>
  

  <div style="text-align:left">
    <video id="video1" width="600" controls>
      <source src={{ path }} type="video/mp4">
    
      Your browser does not support HTML5 video.
    </video>

    <div style="text-align:left;">

  <a href=a id=test><button id=test onclick="playPause()">Play/Pause</button></a> 
  <button onclick="makeBig()">Big</button>
  <button onclick="makeSmall()">Small</button>
  <button onclick="makeNormal()">Normal</button>
  
  <br><br>
  
</div> 
  </div>
 
</section>




<script type="text/javascript"> 
var myVideo = document.getElementById("video1"); 
function playPause() { 
  if (myVideo.paused)
  {
    myVideo.play();
  } 
    

  else 
    myVideo.pause(); 
} 

function makeBig() { 
    myVideo.width = 800; 
} 

function makeSmall() { 
    myVideo.width = 500; 
} 

function makeNormal() { 
    myVideo.width = 700; 
} 
</script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">

var flag = true;
window.onload = function() {
  // setup the button click
  document.getElementById("video1").onclick = function() {
    
    send_status(flag)
    
  };
}

function send_status() {
  


  if(flag)
  {
    $.post("{{url_for('eeg')}}",{"status":"True","p":"{{ path }}"} , 
    function(response){

      document.getElementById("enjoy").innerHTML = response;
    });
    flag = false;
  }
  else
  {
    
    flag = true;
  }
  
  
  // stop link reloading the page
 event.preventDefault();
}
</script>

<h1 id = "enjoy"></h1>

</body> 
</html>

