

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="static/css/login.css"
    />
  </head>
  <body>
  <div id = grad>
    <div>
    <form class="box" action="" method="POST">
      <img
        src="static/pra1.png"
        alt="parainfia logo"
        height="200"
        width="300"
      />
      <h1>Login</h1>
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" name="" value="Login" />
      <a  id = signup href={{ url_for('register') }}>Sign up</a>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
 
  </div>
   </div> 
  </body>
</html>