<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/login.css" />
  </head>
  <body>
    <form class="box" action="" method="POST">
      
      <h1>Sign Up</h1>
      <input type="text" name="username" placeholder="Email" />
      <input type="password" name="password_1" placeholder="Password" />
      <input type="password" name="password_2" placeholder="Conform Password" />

      <input type="submit" name="" value="Create an Account" />
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
  </body>
</html>
